.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 300px; /* Ancho fijo para la tarjeta */
    min-height: 400px; /* Altura mínima para asegurar que todas las tarjetas tengan una altura consistente */
    display: inline-block;
    vertical-align: top;
    overflow: hidden; /* Para asegurar que no haya desbordamiento de contenido */
  }
  
  .card img {
    width: 100%;
    height: 200px; /* Tamaño fijo para las imágenes */
    object-fit: cover; /* Para asegurar que las imágenes se ajusten dentro del contenedor manteniendo su relación de aspecto */
    border-radius: 8px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-body h3 {
    margin-top: 0;
  }
  
  .card-body p {
    margin-bottom: 8px;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .card-buttons button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card-buttons button.add-to-cart {
    background-color: #4caf50;
    color: white;
  }
  
  .card-buttons button.view-details {
    background-color: #2196f3;
    color: white;
  }
  /* Estilos generales del navbar */
nav {
    background-color: #1976d2; /* Color de fondo del navbar */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav div {
    display: flex;
    align-items: center;
  }
  
  nav button {
    color: white;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  nav button:hover {
    opacity: 0.8;
  }
  
  /* Estilos para los botones del navbar */
  nav button.mat-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  /* Estilos para el ícono de carrito de compras */
  .carrito-icon {
    margin-right: 5px;
  }
  